html body { 
	background: #000;
	color: #fff;
	line-height: 30px;
	font-weight: 300;
}

.text-center { text-align: center;}

#header { z-index: 9999;}

/*#main { margin-top: 150px;}*/

#header .sf-menu a { 
	padding: 20px 35px;
	font-size: 18px;
	font-style: normal;
	text-transform: capitalize;
	color: #002c48;	
	font-weight: 400;
}

#header nav { float: right;}

#header .sf-menu li {
	background-color: rgba(255,255,255,.7);
	border-right: 2px solid #000!important;
	border-bottom: 2px solid #000!important;
	border-top: 2px solid #000!important;
}

#header .sf-menu li.current_page_item,
#header .sf-menu li a:hover {
	background: #000!important;
	color: #fff;
}

#header .sf-menu li.current_page_item a { color: #fff;}

#heroSlider { position: relative; overflow: hidden;}

.logo-content {
	position: absolute;
    top: 0px;
    left: 60px;
    z-index: 9999;
    max-width: 250px;
    background-color: #000;
    font-size: 18px;
    padding: 20px 30px;
    text-align: justify;
}

.logo-content img {
	margin-bottom: 25px;
}

#homepage-slider-container .flexslider {
	border: none;
	margin: 0;
}

.transify { border: none!important;}

.flex-control-paging li a.flex-active {
	background: #98C22A!important;
} 

.flex-control-nav { bottom: 0!important;}

#heroSlider .slides {
	border-bottom: 3px solid #98C22A;
} 

#heroSlider .flex-control-nav li a { margin: 0 3px;}

.flex-direction-nav { display: none!important;}

.wrap-language {
	float: left;
	display: inline-block;
	list-style: none;
	margin: 0;
	line-height: 53px;
}

.wrap-language li {
	float: left;
	padding-right: 10px;
}

#heroSlider .nemus-control-paging a {
	background: #969696;
	border: none;
}

#heroSlider .nemus-active {
	background: #98C22A!important;
}

#header .current-menu-item a { color: #fff;}

#header .current-menu-item { background: rgba(0,0,0,1)!important;}

.common-post a {
	color: #fff;
}

.common-post h1 {
	font-size: 25px;
	margin-bottom: 20px;
}

.italic { font-style: italic!important;}

.read-more {
	display: block;
	font-size: 14px;
	background: #252525;
	padding: 5px 0;
}

.brd {
	height: 8px;
	background: rgb(221, 221, 221);
    opacity: 0.5;
    margin-top: -8px;
}

#footer {
	background: #252525;
}

	.copy-right {
		line-height: 78px;
		font-size: 14px;
		color: #898989;
	}

	#footer li a {
		font-size: 14px;
		color: #898989;
		font-weight: bold;
	}

.text-slogan {
	font-size: 21px;
    font-style: italic;
    line-height: 31px;
    padding-top: 20px;
    text-align: center;
}

.sub-header {
 	font-size: 26px!important;
 	padding: 10px 0;
 	color: #fff;
 	font-style: normal;
 	font-weight: 300;
}

.heading {
	font-size: 26px;
	color: #696969;
	text-transform: uppercase;
    font-weight: 300;
}

.common-style dd {
	margin: 10px 0 0 0;
}

.common-style em {
	font-size: 18px;
	display: block;
}

#infoHoney .info { margin-bottom: 20px;}

#infoHoney .info span {
	float: left;
	padding-right: 5px; 
	font-size: 18px;
	color: #696969;
}

#infoHoney .info p { margin-bottom: 0;}

.process-coffee br { display: none;}

.wrap-contact {
	background: rgba(255,255,255,.95);
	padding: 20px;
	font-weight: 300;
}
.wrap-contact h1 {
	color: #999;
	border-bottom: 1px solid #c6c5c5;
	font-size: 34px;
	font-style: normal;
	padding: 0 0 10px 0;
	margin-bottom: 20px;
	font-weight: 300;
}
.wrap-contact form label {
	color: #999;
	font-weight: 300;
	font-size: 15px;
}

.wrap-contact form span {
	font-weight: 300;
	font-size: 13px;	
}

.wrap-contact form sup {
	color: red;
	font-weight: bold;
}

.wrap-contact form input,
.wrap-contact form textarea {
	box-shadow: none;
    margin: 0;
    font-size: 14px;
    font-weight: 300;
    width: 80%;
}

.wrap-contact form textarea {
	height: 100px;
}

.wrap-contact form input[type="submit"] {
	font-style: normal;
	font-size: 14px;
    color: #999;
    font-family: inherit;
}

.wpcf7-validation-errors { display: none!important;}

div.wpcf7-mail-sent-ok {
    border: none;
    color: #999;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.wrap-contact address {
	color: #999;
	font-size: 14px;
	line-height: 26px;
}

#map-contact {
	border: 6px solid #fff;
    -moz-box-shadow: 0 0 7px rgba(0,0,0,.12);
    -webkit-box-shadow: 0 0 7px rgba(0,0,0,.12);
    box-shadow: 0 0 7px rgba(0,0,0,.12);
}

.heading-product {
	position: absolute;
	bottom: 20px;
	left: 0;
}

.dotdotdot {
	white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

#portfolio-post-container h4 a {
	font-size: 23px;
	font-style: italic;
	color: #fff;
	font-weight: bold;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

#portfolio-post-container h4 a:hover {
	color: #88a5b1;
	text-decoration: underline;
	transition: 0.5s color linear;
	-webkit-transition: 0.5s color linear;
	-moz-transition: 0.5s color linear;
}

#portfolio-post-container {
	margin: 50px 0 20px 0;	
}

#page-title-divider {
    background: #797979!important;
}

#detail-product {
	background: #fff;
	margin: 0;
	color: #333;
	font-size: 14px;
	padding: 20px;
}

.test{ color: #999;}


